<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeticionOLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C04B6271C232C6C000D73F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C04B63B1C232C6C000D73F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C04B6461C232C6D000D73F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
